<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondoapp">
  <ion-card class="tarjeta contenedorPass">
    <ion-item lines="none">
      <ion-label position="floating">Ingrese su correo</ion-label>
    </ion-item>
    <ion-item class="borderInputData">
      <ion-icon name="person" class="icon-login"></ion-icon>
      <ion-input
        name="user"
        type="text"
        [(ngModel)]="correo"
        placeholder="Correo"
      ></ion-input>
    </ion-item>

    <br />

    <ion-item lines="none">
      <ion-label>Repita su correo</ion-label>
    </ion-item>
    <ion-item class="borderInputData">
      <ion-icon name="person" class="icon-login"></ion-icon>
      <ion-input
        name="user"
        type="text"
        [(ngModel)]="correoverif"
        placeholder="Correo"
      ></ion-input>
    </ion-item>
    <br />

    <br />
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            color="primary"
            (click)="actualizarDatos()"
          >
            Actualizar</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="cancelar()"
            >Cancelar</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
